<h1 mat-dialog-title>{{ data.series }}</h1>
<div mat-dialog-content class="base">
  <div>
    <p>Autor: {{ data.books[0].author }}</p>
    <p>Dono: {{ data.books[0].owner.username }}</p>
    <p *ngIf="data.books[0].borrowedTo">
      Emprestado para: {{ data.books[0].borrowedTo }}
    </p>
  </div>
  <mat-card *ngFor="let book of data.books" class="card">
    {{ book.title }}
  </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Fechar</button>
</div>
