.card {
  width: 550px;
  height: 400px;
  padding-bottom: 15px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subcard {
    padding: 10px;
    border-color: white;
    .title {
      margin: 0;
    }
    .author {
      font-size: xx-small;
    }
  }
}
@media (max-width: 550px) {
  .card {
    width: 100vw;
    height: 100vh;
    nb-icon {
      font-size: 2rem;
    }
  }
}
