<div class="container">
  <nb-card class="card">
    <nb-card-header>
      <h3>Entrar</h3>
    </nb-card-header>
    <nb-card-body class="body">
      <label class="label" for="username"> Username </label>
      <nb-form-field style="margin-bottom: 10px">
        <input
          fullWidth
          id="username"
          type="text"
          nbInput
          placeholder="Ex. trolzito20"
          [(ngModel)]="username"
        />
      </nb-form-field>
      <label class="label" for="senha"> Senha </label>
      <nb-form-field style="width: 100%">
        <input
          fullWidth
          [type]="showPass ? 'text' : 'password'"
          placeholder="Ex. trol123"
          nbInput
          (keyup.enter)="login()"
          [(ngModel)]="password"
        />
        <button nbSuffix nbButton ghost (click)="showPass = !showPass">
          <nb-icon
            [icon]="showPass ? 'eye-outline' : 'eye-off-2-outline'"
            pack="eva"
            [attr.aria-label]="showPass ? 'hide password' : 'show password'"
          >
          </nb-icon>
        </button>
      </nb-form-field>
    </nb-card-body>
    <nb-card-footer>
      <button
        fullWidth
        nbButton
        color="primary"
        (click)="login()"
        [disabled]="loading"
        [nbSpinner]="loading"
        nbSpinnerStatus="primary"
      >
        Entrar
      </button>
    </nb-card-footer>
  </nb-card>
</div>
