<div class="container">
  <mat-grid-list cols="12">
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-icon-button color="primary" routerLink="/dashboard">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="11">
      <h2>Criar Nova Coleção</h2>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <mat-form-field class="busca" appearance="outline" style="width: 100%">
        <mat-label>Nome da coleção</mat-label>
        <input
          matInput
          placeholder="Ex. The Big Trol"
          [(ngModel)]="nomeColecao"
        />
        <mat-hint
          >Caso for um livro único, só não preencher este campo</mat-hint
        >
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <h4>Incluir Livros na Coleção</h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <button mat-flat-button color="primary" (click)="incluirLivro()">
        Adicionar mais livros
      </button>
    </mat-grid-tile>
    <mat-grid-tile
      *ngFor="let lib of libs; index as i"
      colspan="12"
      rowspan="2"
      style="margin-bottom: 20px"
    >
      <mat-card style="width: 100%; margin: 15px; padding: 15px">
        <mat-grid-list cols="12">
          <mat-grid-tile colspan="12">
            <h5 style="width: 100%">Novo Livro</h5>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field
              class="busca"
              appearance="outline"
              style="width: 100%; padding-top: 10px"
            >
              <mat-label>Nome do Livro</mat-label>
              <input
                matInput
                placeholder="Ex. Trolzinho dourado"
                [(ngModel)]="lib.title"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="5">
            <mat-form-field
              class="busca"
              appearance="outline"
              style="width: 100%; padding-top: 10px"
            >
              <mat-label>Autor da coleção</mat-label>
              <input
                matInput
                placeholder="Ex. Trol de Assis"
                [(ngModel)]="lib.author"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <button
              mat-flat-button
              color="warn"
              *ngIf="libs.length > 1"
              (click)="removerLivro(i)"
            >
              Remover Livro
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="12">
      <button
        mat-flat-button
        color="primary"
        (click)="finalizarCriacao()"
        style="width: 115px"
        [disabled]="loading"
      >
        <div class="box-loading" *ngIf="loading; else base">
          <mat-spinner [diameter]="25" color="primary"></mat-spinner>
        </div>
        <ng-template #base> Criar Coleção </ng-template>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
