<div class="container">
  <div style="display: flex">
    <button nbButton ghost status="info" routerLink="/dashboard" class="button">
      <nb-icon icon="arrow-ios-back-outline"></nb-icon>
    </button>
    <h3>
      {{
        created
          ? "Adicionar livro(s) para coleção " + nomeColecao
          : "Criar Livro ou Coleção"
      }}
    </h3>
  </div>
  <label class="label" for="nomeColecao"> Nome da Coleção </label>
  <nb-form-field style="margin-bottom: 10px">
    <input
      fullWidth
      id="nomeColecao"
      type="text"
      nbInput
      placeholder="Ex. trolzito20"
      [(ngModel)]="nomeColecao"
    />
  </nb-form-field>

  <nb-accordion multi>
    <nb-accordion-item
      *ngFor="let lib of libs; index as i"
      [expanded]="i == libs.length - 1"
    >
      <nb-accordion-item-header>
        {{ lib.title || "Novo Livro " + (i + 1) }}
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div style="display: flex; gap: 15px">
          <!-- <img [src]="lib.thumbnail||imagemVoid" height="130" width="88" alt=""> -->
          <div style="width: 100%">
            <label class="label" [for]="'nomeLivo' + i"> Nome do Livro </label>
            <nb-form-field style="margin-bottom: 10px">
              <input
                fullWidth
                [id]="'nomeLivo' + i"
                type="text"
                nbInput
                placeholder="Ex. trolzito20"
                [(ngModel)]="lib.title"
              />
            </nb-form-field>
            <label class="label" [for]="'nomeAutor' + i"> Nome do Autor </label>
            <nb-form-field style="margin-bottom: 10px">
              <input
                fullWidth
                [id]="'nomeAutor' + i"
                type="text"
                nbInput
                placeholder="Ex. trolzito20"
                [(ngModel)]="lib.author"
              />
            </nb-form-field>
          </div>
        </div>
        <div style="margin-top: 15px">
          <!-- <button nbButton color="primary" style="margin-right: 15px;" (click)="buscarDetalhes(i)">
            <nb-icon icon="search-outline"></nb-icon>
          </button> -->
          <button
            *ngIf="libs.length > 1"
            nbButton
            color="error"
            (click)="removerLivro(i)"
          >
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <nb-card style="margin-top: 15px; cursor: pointer" (click)="incluirLivro()">
    <nb-card-body> Adicionar Livros </nb-card-body>
  </nb-card>
  <div style="display: flex; justify-content: end">
    <button
      nbButton
      color="error"
      (click)="finalizarCriacao()"
      [disabled]="loading"
      [nbSpinner]="loading"
    >
      Salvar Tudo
    </button>
  </div>
</div>
