<div class="container">
  <div class="functions">
    <button nbButton status="primary" routerLink="/forms">
      Adicionar Novo Livro
    </button>
  </div>
  <div class="box-loading" *ngIf="loading; else base">
    <nb-card
      class="intern"
      [nbSpinner]="true"
      nbSpinnerStatus="primary"
      nbSpinnerSize="giant"
    >
    </nb-card>
  </div>
  <ng-template #base>
    <h2>{{ user.username }}</h2>
    <h4>Meus livros</h4>

    <div class="list">
      <nb-card
        *ngFor="let serie of series"
        class="cards"
        [class.serie-out]="serie.books[0].borrowedTo"
      >
        <nb-card-body class="content">
          <div class="chips-space">
            <nb-badge class="chips" text="SÉRIE"></nb-badge>
          </div>
          <h3>
            {{ serie.series }}
          </h3>
          <div>
            <div>Dono: {{ serie.books[0].owner.username }}</div>
          </div>
        </nb-card-body>
        <nb-card-footer class="footer">
          <button nbButton>
            <nb-icon icon="edit-2-outline"></nb-icon>
          </button>
          <button nbButton (click)="deleteCard(serie)">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </nb-card-footer>
      </nb-card>
      <nb-card *ngFor="let book of books" class="cards">
        <nb-card-body class="content">
          <div class="chips-space">
            <nb-badge class="chips" text="LIVRO"></nb-badge>
          </div>
          <h3>
            {{ book.title }}
          </h3>
          <div>
            <div>Dono: {{ book.owner.username }}</div>
          </div>
        </nb-card-body>
        <nb-card-footer class="footer">
          <button nbButton>
            <nb-icon icon="edit-2-outline"></nb-icon>
          </button>
          <button nbButton (click)="deleteCard(book)">
            <nb-icon icon="trash-outline"></nb-icon>
          </button>
        </nb-card-footer>
      </nb-card>
    </div>
  </ng-template>
</div>
