<div class="container">
  <nb-card class="busca">
    <label class="label" for="search"
      >Buscar pelo Titulo, Autor ou Dono do livro</label
    >
    <input
      id="search"
      type="text"
      nbInput
      placeholder="Ex. Trol de Assis"
      #searchBox
      (input)="search(searchBox.value)"
    />
  </nb-card>

  <div class="box-loading" *ngIf="loading">
    <nb-card
      class="intern"
      [nbSpinner]="true"
      nbSpinnerStatus="primary"
      nbSpinnerSize="giant"
    >
    </nb-card>
  </div>
  <div class="list">
    <nb-card
      *ngFor="let serie of series"
      class="cards"
      (click)="selectSerieCard(serie)"
      [class.serie-out]="serie.books[0].borrowedTo"
    >
      <nb-card-body class="content">
        <div class="chips-space">
          <nb-badge class="chips" text="SÉRIE"></nb-badge>
        </div>
        <h3>
          {{ serie.series }}
        </h3>
        <div>
          <div>Dono: {{ serie.books[0].owner.username }}</div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card *ngFor="let book of books" class="cards">
      <nb-card-body class="content">
        <div class="chips-space">
          <nb-badge class="chips" text="LIVRO"></nb-badge>
        </div>
        <h3>
          {{ book.title }}
        </h3>
        <div>
          <div>Dono: {{ book.owner.username }}</div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
