<div class="container">
  <div class="top">
    <h2>Trolls Libs</h2>
    <button
      mat-flat-button
      color="primary"
      [routerLink]="isLogged ? '/dashboard' : '/login'"
    >
      {{ isLogged ? "DASHBOARD" : "LOGIN" }}
    </button>
  </div>
  <mat-form-field class="busca" appearance="outline">
    <mat-label>Buscar pelo Titulo, Autor ou Dono do livro</mat-label>
    <input
      matInput
      placeholder="Ex. Trol de Assis"
      #searchBox
      (input)="search(searchBox.value)"
    />
  </mat-form-field>
  <div class="box-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="list">
    <mat-card
      *ngFor="let serie of series"
      class="cards"
      (click)="selectSerieCard(serie)"
      [class.serie-out]="serie.books[0].borrowedTo"
    >
      <mat-card-content class="content">
        <div class="chips-space">
          <mat-chip class="chips"> SÉRIE </mat-chip>
        </div>
        <h3>
          {{ serie.series }}
        </h3>
        <div>
          <div>Autor: {{ serie.books[0].author }}</div>
          <div>Dono: {{ serie.books[0].owner.username }}</div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let book of books" class="cards">
      <mat-card-content class="content">
        <div class="chips-space">
          <mat-chip class="chips"> LIVRO </mat-chip>
        </div>
        <h3>
          {{ book.title }}
        </h3>
        <div>
          <div>Autor: {{ book.author }}</div>
          <div>Dono: {{ book.owner.username }}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
